


/* -----------------------------------
Basic rules
----------------------------------- */

body
{
    margin: 0;
    padding: 0;
    color: #000;
    background: #fff;
    font: 100%/1.4 helvetica, arial, sans-serif;

}

p
{
    margin-bottom: 0.3em;
}
ul
{
    margin-top: 0.3em;
}


/*----------------------------------
 Narrow Screen
 ----------------------------------*/

#mastheadSpan{max-width:100%;}
#masthead{max-width: 100%;}


/*------  Navigation  -------*/

nav ul
{
    margin:0;
    padding:0;
    width:100%;
    display:block;
    list-style:none;
    line-height:1;
    font-size:110%;


}

nav li{display:block; }

nav a
{
    display:block;
    padding:0.5em;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    background-color: #D00000 ;
    background-image: linear-gradient(#f30000 0%, #D00000 100% );
}

nav a.topMenu
{
    color:#fff;
    background-color: #D00000 ;
    background-image: linear-gradient(#f30000 0%, #D00000 100% );
}

nav a:focus
{
    background-color: #4e4e4e;
    background-image: linear-gradient(#4e4e4e 0%, #4e4e4e 100% )
}
nav a:hover
{
    background-color: #000000;
    background-image: linear-gradient(#000 0%, #000000 100% );
    color:white;
}

nav a:active
{
    background-color: red ;
    background-image: linear-gradient(red 0%, red 100% )
}

nav li ul ul a, nav ul ul ul a
{
    background-color: #850000;
    background-image: linear-gradient(#9d0000 0%, #850000 100% );
    padding:0.5em 0.5em 0.5em 2em;
    font-size:85%;
}

nav a{background-color: #D00000 ;}
nav ul ul ul a {background: #850000;}



nav li ul ul a:hover{background-color: #000000;}
.hidden{display: none;}
.visible{display: block;}


 .arrow{
    display: inline;
    float: right;
    max-width:100%;
    max-height:2em;
    vertical-align: middle;
    padding:0;
}

/* -------- Secondary Navigation -------- */

#secondary a
{
    font-weight: bold;

    background: white;
    border-bottom:1px solid #323232;
    color: #323232;
    padding:0.4em;
    /*max-width: 15em;*/
    text-align: center;
    font-size: 90%;

}



#secondary a:hover, #secondary a:focus
{
    border-bottom:1px solid #000000;
    background: #000000;
    color:#FFffff;
}


#secondary a.open
{
    color:white;
    background: maroon;
    border:1px solid maroon;
}
#secondary a.open:hover, #secondary a.open:focus
{
    color:white;
    background: maroon;
    border:1px solid maroon;
}

/* ------ Main Content ----- */
.mainContent{padding:1em 0.5em 0.5em;}
.mainContentNoAside{padding: 0.5em}


/* ---- Headings ----- */

h1
{
    background: url(../images/imageSpriteKnowledgedoc.gif) 0 -34px no-repeat ;
    font-size:145%;
    margin-bottom: 0.3em;
}
h1 #head
{
    margin-left:1.5em;
    border-bottom: 2px solid  #D00000 ;
    display: block;
    max-width:40em;

}

h2{
    color:#ED1B2F;
    font-size: 120%;
}
h3
{
    color:#B01C2A;
    font-size: 100%;
}
aside h3
{
    color:#ED1B2F;
}

h4
{
    color: #3b3b3b;
    font-size: 100%;
    margin-bottom: 0;
}






/* ------ Links -------- */
a {color:#666666}
a:hover{color: #ED1B2F}

a.skip
{
    color:#000000;
    text-decoration: none;
}
a:hover.skip{color: #ED1B2F}
a:hover.skipResult{color:#666666}

h3 a, h3 a:hover.skipResult{color: #ED1B2F;}


/* ----- Aside ------ */

aside.sidebar
{
    background-color: #eaeaea;

}
aside.sidebar h3{margin:0.2em;}
aside.sidebar p{margin:0.2em;}
aside.sidebar ul{margin: 0.2em;}

#asidecol1
{
    padding: 0.5em 0.5em 0;
}
#asidecol2
{
    padding: 0 0.5em 0.5em;
}

section.blog
{
    clear:left;
}
aside.navigation
{
    margin:10px;

    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

/* ------- Footer ----- */
footer
{
    text-align:center;
    background-color: #ffffff;
    border-top:1.3em solid #D00000;
    font-size: 70%;
    clear:both;

}

#privacy{
    color: #585858;
    background-color: #d7d7d2;
    text-align: center;
    padding:0.3em;

}

#privacy a{
    color: #303030;
    text-decoration: none;
}
#privacy a:hover
{
    color:white;
    text-decoration: underline;
}

/* ----- Overall ---- */
#overall
{
    max-width:48em;
    margin: 0 auto;
    border: 1px solid #999999;
    overflow: hidden;

}

/*------- Header ------ */
header
{
    max-width: 50em;
    margin: 0 auto;

    background: #FFffff;

}
header img
{
    max-width: 100%;
    vertical-align: middle;
    border:0;
}

/* Other */

.note{font-style:  italic;}

#masthead{margin-left:0;}

p, h2, h3, h4{padding: 0 0.2em;}


/* ---- Masthead ----- */
@media(min-width: 28em)
{
    #mastheadSpan
    {background: linear-gradient(#f1f1f1 0%,#ffffff 40%, #ffffff 100%);}
}

@media(min-width:46em)
{
    #mastheadSpan
    {

        background:
            url(../images/logos/mhead_r.jpg) no-repeat top right,
            linear-gradient(#f1f1f1 0%,#ffffff 40%, #ffffff 100%);
    }
}

/*-----------------------------------
Page Specific CSS Rules
Alphabetical Order
------------------------------------*/
/*-------------------
Blog
---------------------*/


.articleDate
{
 display:none;
}
@media(max-width:28em)
{
    .blogFirstParagraph
    {
        clear:left;
    }
}


header.newsArticle h2
{
    margin-bottom: 0;
    /* border-bottom:2px solid maroon;*/
    border-bottom:2px solid #434343;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

header.newsArticle p
{
    margin: 0;
    font-weight: bold;
    color: #434343;

}

a.blogHeading
{
    text-decoration: none;
    color:#434343;
}
a.blogHeading:hover
{
    text-decoration: none;
    color: red;
}

img.blogPhoto
{
    max-width:8em;
}

figcaption.blog
{
    color:#434343;
    font-style: italic;
}
#blogPhoto, figure.blogPhoto
{
    float:left;
}
.blogImageRight
{
    float:right;
    padding:0.3em;
    max-width: 100%;
}
.blogImageLeft
{
    float:left;
    padding:0.3em;
    max-width: 100%;
}
figcaption
{
    text-align: center;
}
article
{
    border:1px solid #e7e7e7;
    margin-bottom:1em;
    box-shadow: 5px 5px 5px #dddddd;
}

.subscribe
{
    float:left;
    max-width:40px;
    padding:0.3em;
}
div.linkedin
{
    display: block;
    width: 100%;
}

/* -------
Blog Index
------- */
table.blog td
{
    padding: 0 0.5em 0 0.5em;
}

ul.helpful
{
    padding:0 0.2em;
}
ul.helpful li
{
    list-style: none;
}

/*--- Blog articles --*/
.mainContentNoAside.blog
{
    float:left;
    max-width:100%;
}

aside.blogSocial
{
    clear: left;
    padding-left:0.5em;




}

a.blogSocial
{
    text-decoration: none;
}


a.blogSocial img
{
float: left;
max-width: 55px;
padding-right: 1em;
padding-bottom: .5em;
}


div.blogSocial
{
    max-width:284px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}

/*---- Case Studies ---*/

#synergeticHeading
{
    background: url(../images/customers/Synergetic.png) no-repeat center left;
    background-size:28px;
    padding-left: 1.8em;
    color: rgb(52,154,154);
}
#synergeticLogo
{
    max-width: 100%;
}


/*----------- Contact Us ----------- */
/* -- Contact details table --*/
th
{
    vertical-align: top;
    text-align: left;
}

table
{
    clear:left;
}
/* ------ IFrame -------*/
/* ---- Serviced Office ----*/
/* ---- and Contact Us ----*/

iframe
{
    max-width: 40em;
    height: 20em;
    float: left;
    border:0;
}
div.iframe
{
    overflow: hidden;
    padding:0.5em;
    max-width: 30em;

}
.contactUs
{
    max-width:95%;
}
.contact
{
    background: #f1f1f1;
    border: 3px solid #cacaca;
    width:95%;
    margin: 0.5em;
    padding:0.5em;
    float: left;
}


/* ---- Social Media Icons ----*/
nav.social
{
    background:none;
    font-size:100%;
}
ul.social a
{
    border: none;
    background: none;
    float: left;
    margin: 3px;
    padding:0;
}
ul.social div
{
    border-radius:5px;
    height: 30px;
    width:30px;
}

ul.social div:hover
{
    border-radius:5px;
    height: 30px;
    width:30px;

}

#linkedIn{background:url(../images/imageSpriteKnowledgedoc.gif) -245px 0;}
#linkedIn:hover{ background:url(../images/imageSpriteKnowledgedoc.gif) -285px 0;}
#mail{ background:url(../images/imageSpriteKnowledgedoc.gif) -208.5px 0;}
#mail:hover{ background:url(../images/imageSpriteKnowledgedoc.gif) -165.5px 0;}
#google{ background:url(../images/imageSpriteKnowledgedoc.gif) -325px 0;}
#google:hover{ background:url(../images/imageSpriteKnowledgedoc.gif) -365px 0;}


div.social70
{
    height: 70px;
    width:70px;
    max-width:100%;
    padding-bottom: .5em;
}
div:hover.social70
{
    height: 70px;
    width:70px;
    max-width:100%;
    padding-bottom: .5em;
}

#linkedIn70{background: url(../images/imageSpriteKnowledgedoc.gif) 0 -75px;}

.socialIcon{
    height:30px;
    width:30px;
    margin-right: 0.8em;

}

/* -------------------
Documentation Services
---------------------- */
#documentationServices
{
    max-width:100%;
    display: block;
    margin:auto;
}

/*---------------
KdAssist
------------------*/
#KdAssistHome
{
    max-width: 100%;
}

/* -- Photo Gallery --*/
div.gallery
{
    margin:0;

    border:1px solid grey;
    overflow:hidden;
    width: 28.5em;
}

section.gallery img
{
    float:left;

}

div.imageGallery
{
    float:left;
    width: 330px;
    height:422px;

}
img.gallery
{
    position:relative;

}

img.firstImage{right:0;}
img.secondImage{right: 330px;}
img.thirdImage{right: 660px;}
img.fourthImage{right: 990px;}
img.fifthImage{right: 1320px;}
img.sixthImage{right: 1650px;}
img.seventhImage{right: 1980px;}

section.gallery figure
{
    margin:0;
}

section.gallery figcaption
{
    display:none;

}

figure.hidden
{display:none;}

img.galleryArrow
{
    background:#eaeaea;

}
img.gallery
{
    z-index:-1;
    background:#eaeaea;
}


img.galleryArrow:hover
{background: #dedede;}

@media(max-width:31em)
{
    section.gallery{display:none;}
}


/*------ Methodology ----- */
a.skip {
    border: 1px solid black;
    padding: 0.5em;
    display: block;
    max-width: 15em;
    text-align: center;
    font-weight: bold;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    background: #4a4a4a;
    color:white;

}

ol.methodology li{
    list-style: none;

}
ol.methodology
{
    padding:0;
    background:

        url(../images/arrowDownGreySmall.gif) no-repeat 50% 3.8%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 12.5%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 21.2%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 32.6%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 41.3%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 52.8%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 61.5%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 70.2%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 78.9%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 87.6%,
        url(../images/arrowDownGreySmall.gif) no-repeat 50% 96.3%;
    /*19% - left aligned */

}

a.skip:hover
{
    background: #9d0000;
    color: #ffffff;
}

/*------ Our Team ------ */
.teamPhoto
{
    float:right;
    max-height:200px;
    margin:5px;
}
#KdTeamPhoto
{
    max-width:100%;
}
h2 span.team
{
    color: #5d5d5d;
    margin-top: 0;
    font-size: 85%;
}
/*----------- Recent Customers --------*/
img.recent
{
   /*float:left;*/
    float:left;
    clear: left;
    height:50px;


    padding:0.5em;
    margin:0.5em;

    /*border:1px solid green;*/
}

img.recent.right
{
    /*float:right;*/
}
img.recent.small
{
    /*max-width:150px;*/
}
/*
#recentCustomers
{
    background-color: #f7f7f7;
    background-image: radial-gradient(#fbfbfb 85%, #ffffff 100%);
    float:left;
}
*/
/* ------ Serviced Offices ------- */
.clear
{
    clear: left;
}

#office
{
    max-width: 100%;
}
.quote
{font-style: italic;}



/* --- Software Documentation --- */
/* --------- Flowchart --------- */

.flowchart
{
    float: left;
    width:100%;
    font-size: 90%;

}

ul.flowchart
{
    margin:0;
    padding:0;
    width:100%;
    display:block;
    list-style:none;
    text-align: center;
}

.flowchart li{display: block;}

.flowchart a
{
    float: left;
    display:block;
    width:10em;
    padding:0.7em;
    margin:0 0.5em 0.5em 0.5em;
    color: #414141;
    background-color: #e7e8e6;
    background-image: linear-gradient(#f0f3f6 0%, #dcdcdc 100% );

    border: 1px solid #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}
.flowchart a:hover, .flowchartLink.active
{
    display:block;
    color:black;
    margin:0 0.5em 0.5em 0.5em;
    padding: 0.7em;
    border: 1px solid #000;
    background-color: #bdc1c1;
    background-image: linear-gradient(#c1bebf 0%, #c3c3c8 100% );
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
}

li.flowchartInfo
{
    display:block;
    clear:left;
    border:1px solid black;
    color: black;
    background-color:#bdc1c1;
    background-image: linear-gradient(#c1bebf 0%, #c3c3c8 100% );
    padding:0.5em;
    font-size:90%;
    margin-left:0.4em;
}


.flowchartInfo.hidden
{
    display: none;
}


ul.flowchart ul
{
    margin:0;
    padding:0;
    width:100%;
    display:block;
    list-style:none;
}

ul.flowchart ul.hidden{display: none;}

ul.flowchart li{display: block;}

ul.flowchart ul li
{
    display:block;
    padding:0.5em;
    color: #414141;
    background-color: #EDF5F8 ;
    background-image: linear-gradient(#edf5f8 0%, #ececf6 100% );
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    font-size: 80%;
}





/* -----------------------------------
Medium screen
----------------------------------- */
@media (min-width: 30em ) and (max-width: 45em) {

    aside{overflow: hidden;}


    #asidecol1, #asidecol2
    {
        float: left;
        max-width: 47.5%;

        padding:0.5em 0;
    }
    #asidecol2{margin-left: 5%}

    footer{clear:both;}
    .mainParagraphs{clear: left;}


}



/* -----------------------------------
Wide screen
----------------------------------- */
body{font-size: 100%}

@media (min-width: 43em)
{
    /* Navigation  */


    .arrow{display: none;}
    .menu-button{display:none;}
    .top{display: block;}

    nav ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display:block;

        width:100%;
        font-size:100%;
    }

    ul.top
    {
        overflow: hidden;
        background-color: #c10000;
        background-image: linear-gradient(#f30000 0%, #D00000 100% );
        width:100%;
    }

    ul.top li
    {
        float: left;
        background-color: #c10000;
        background-image: linear-gradient(#f30000 0%, #D00000 100% );

    }

    ul.top li a
    {
        display: block;
        border-bottom: none;
        color:white;
        border-right:1px solid white;
        text-decoration: none;
        margin: 0;
        padding:0.5em 0.5em;

        text-align: center;
        background-color: #c10000;
        background-image: linear-gradient(#f30000 0%, #D00000 100% );
        font-weight:normal;
    }

    #nav a.activePage
    {
        background-color: #b20000;
        background-image: linear-gradient(#e80000 0%, #c20000 100% );
    }

    ul.top a:hover
    {
        background: #000000;
        color:#FFFFFF;
        text-decoration:none;
    }

    ul.top li ul
    {
        display:none;

        padding:0;
        margin:0;
        border:0;
        position:absolute;
        z-index:200;
    }

    ul.top li:hover ul{
        display:block;
    }
    ul.top li li {
        display:block;
        float:none;
        margin:0;
        padding:0;
        width:13.5em;

    }
    ul.top li li a {
        font-size: 100%;
        display:block;
        float:none;
        text-align: left;
        background-color: #850000;
        background-image:linear-gradient(#9d0000 0%, #850000 100% );
        border-top:1px solid white ;
        padding:0.5em 0.5em;

    }

    ul.dropdown
    {
        max-width:14em;
    }






/* --- Other ---- */

    #masthead{margin-left:0.5em;}


    #content
    {
        float: left;
        width: 100%;
    }
    .mainContentNoAside
    {
        float: left;
        max-width:100%;
    }
    .mainParagraphs{clear: left;}


    #overall
    {
        max-width:60em;
        margin: 0 auto;
        border: 1px solid #999999;
        overflow: hidden;

    }

    header
    {
        max-width: 60em;
        margin: 0 auto;

        background: #FFffff;
    }

    header img

    {
        max-width: 100%;
        vertical-align: middle;
        border:0;
    }

    .input{ display: block;}


    /*----------------------------
   Page Specific Rules
   Alphabetical Order
   ------------------------------- */
    /*---------Blog-------------*/

    .articleDate
    {
        display:inline;
        float:right;
        color: #434343;
    }

    .blogFirstParagraph
    {
        clear:none;
    }
    /*--- Blog articles --*/
    .mainContentNoAside.blog
    {
        float:right;
        width:90%;
    }

    aside.blogSocial
    {
        /*float: left;*/
        position:fixed ;
        top:190px;


        max-width: 8%;
        padding:0.5em
    }


    a.blogSocial img
    {
        width: 70px;
        max-width: 100%;
        padding-bottom: .5em;
    }

    .mainContentSmallAside
    {
        float: left;
        max-width: 80%;
    }
    div.blogSocial
    {
        overflow: hidden;
        margin:auto;
    }


    /*------- Contact Us _------*/
    /*------ IFrame -------*/
    iframe
    {
        max-width: 40em;
        height: 20em;
        border: 0;
    }

    .iframe
    {
        float: left;
    }

    .iframeOffice
    {
        float: right;
    }
    div.iframe
    {
        overflow: hidden;
        padding:0.5em;
        width: 29em;
        float: left;
    }

    .contactUs
    {
        overflow: hidden;
        display: block;
        max-width:80em;
    }


    /* ------Software Documentation ----*/
    /*-------Flowcharts -----*/

    .flowchart
    {
        float: left;
        width:100%;
        font-size: 90%;
    }
    .flowchart a
    {
        float: left;
        display:block;
        max-width:10em;
        margin:0 0.5em 0.5em 0.5em;
        padding: 0.7em;
        border: 1px solid #000;
    }

    .flowchart a:hover, .flowchartLink.active
    {
        color:black;
        margin:0 0.5em 0.5em 0.5em;
        padding: 0.7em;
        border: 1px solid #000;
        background-color: #c1c1c1;
        background-image: linear-gradient(#bebebe 0%, #c8c8c8 100% );
    }

    ul.flowchart li:hover ul {display: block;}




    .tooltip {
        display: block;
        font-size: smaller;
        left: 14em;
        padding: 5px;
        position: absolute;
        top: -4em;
        width: 33em;
        z-index: 1;
        background: #f0f3ef;
        color: #2E2E33;
        min-width:20em;
        border:1px solid black;
    }
    #flowchart
    {
        overflow:hidden;
        max-width:50em;
        border:1px solid black;
        background: #f6f6f6;
    }
    ul.flowchartInfo
    {
        padding:0;
    }

    li.flowchartInfo
    {
        display:block;
        clear:left;
        border:1px solid black;
        color: black;
        background-color: #d8d8d8;
        background-image: linear-gradient(#dbdbdb 0%, #c9c9c9 100% );
        padding:0.5em;
        font-size:90%;
        margin-left:0.4em;
        margin-bottom: 0.4em;
    }
    li.flowchartInfo.hidden {display: none;}

    /*--- Serviced Office ----- */
    #office{max-width:70%;}


}


/*----------------------------------
Other responsive rules
------------------------------------*/

/* ------ Footer -------  */
@media(min-width: 35em)
{
    footer
    {
        clear:both;
        max-width:90em;
        text-align: left;
    }
    #logo
    {
        float: left;
        margin:0.5em;
        max-width:100%;
    }
}



/* ---- Secondary Navigation ---- */

@media(min-width: 41.5em)
{

    aside.secondary
    {
        width:27.5%;
    }

    #secondary
    {
        background: none;

        padding: 0 ;
        margin:0;
        float: left;
        width:100%;
    }


    #secondary ul
    {
        padding:0;
    }
    #secondary li
    {
        padding:0;
    }

    #secondary a
    {
        float: none;
        font-size: 80%;
        background: white;
        color: #323232;
        border-bottom: 1px solid #525252;
        border-radius: 0;
        margin:0;
        max-width:100%;

    }

    #secondary a:hover, #secondary a:focus
    {
        border-bottom:1px solid #000000;
        background: #000000;
        color:#FFffff;
    }
    #secondary h3
    {

        text-align: center;
        line-height: 1;
        font-size: 120%;
        font-weight: bold;
        margin: 0.3em;

    }

    #secondary a.open
    {
        color:white;
        background: maroon;
        border:1px solid maroon;
    }
    #secondary a.open:hover, #secondary a.open:focus
    {
        color:white;
        background: maroon;
        border:1px solid maroon;
    }
}

/* ----- Contact us section surround ----- */
@media(min-width:49em)
{
    .contact
    {
        background: #f1f1f1;
        width:95%;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}

@media(min-width: 50em)
{
    .contact
    {
        background: #f1f1f1;
        width:16em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 51em)
{
    .contact
    {
        background: #f1f1f1;
        width:17em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 52em)
{
    .contact
    {
        background: #f1f1f1;
        width:17em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 53em)
{
    .contact
    {
        background: #f1f1f1;
        width:19em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 54em)
{
    .contact
    {
        background: #f1f1f1;
        width:20em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 55em)
{
    .contact
    {
        background: #f1f1f1;
        width:21em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 56em)
{
    .contact
    {
        background: #f1f1f1;
        width:22em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 57em)
{
    .contact
    {
        background: #f1f1f1;
        width:23em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 58em)
{
    .contact
    {
        background: #f1f1f1;
        width:24em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 59em)
{
    .contact
    {
        background: #f1f1f1;
        width:25em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}
@media(min-width: 60em)
{
    .contact
    {
        background: #f1f1f1;
        width:26em;
        margin: 0.5em;
        padding:0.5em;
        float: left;
    }
}



/* -----------------------------------
Medium-Wide screen - Aside drops
----------------------------------- */
@media (min-width: 45.1em)
{
    #contentFooter{
        display: inline-block;
        max-width: 100%;
        background-color: #fff;
    }

    #content
    {
        float: left;
        max-width: 100%;
    }

    .mainContent
    {
        float: left;
        max-width: 62.5%;

    }
    .mainParagraphs{clear: left;}

    aside.sidebar
    {
        width:30%;
        float: right;
        border:1px solid black;
        /*border-radius: 5px;*/
        margin:10px;
    }

    aside.navigation
    {
        width:30%;
        float: right;
        margin:10px;

        border-top:1px solid black;
        border-left:1px solid black;
        border-right:1px solid black;

    }
    /*
    #secondary a
    {
        border-top-left-radius: 0.7em;
        border-bottom-left-radius: 0.7em;
        border-left:1px solid black;
        border-right: 1px solid black;

    }
    #secondaryHeader
    {
        border-top:1px solid black;
    }
    */

}

@media(max-width: 52em)
{
    .flowchart a
    {
        max-width:10em;
        width:10em;
        text-align: center;
    }
    .flowchartLink{width:11em;}
}


/* ------------------------------------------
Development width helper
-------------------------------------------*/
/* -----------------------------------
Initial pseudo-element
----------------------------------- */
/*
body:before
{
    position:absolute;
    top:0;
    right:0;
    padding:0.5em;
    color:white;
    font-size:200%;
}

*/

/* -----------------------------------
Pseudo-elements in media queries
----------------------------------- */
/*
@media (min-width: 20em) and (max-width:21em)
{
    body:before
    {
        content: "20em";
        background-color: #00c800;
    }
}
@media (min-width: 21em) and (max-width:22em)
{
    body:before
    {
        content: "21em";
        background-color: #01c168;
    }
}
@media (min-width: 22em) and (max-width:23em)
{
    body:before
    {
        content: "22em";
        background-color: #00c688;
    }
}
@media (min-width: 23em) and (max-width:24em)
{
    body:before
    {
        content: "23em";
        background-color: #05dfaa;
    }
}
@media (min-width: 24em) and (max-width:25em)
{
    body:before
    {
        content: "24em";
        background-color: #00f5ca;
    }
}
@media (min-width: 25em) and (max-width:26em)
{
    body:before
    {
        content: "25em";
        background-color: #00f4f4;
    }
}
@media (min-width: 26em) and (max-width:27em)
{
    body:before
    {
        content: "26em";
        background-color: #00d3fd;
    }
}
@media (min-width: 27em) and (max-width:28em)
{
    body:before
    {
        content: "27em";
        background-color: #00a3ff;
    }
}
@media (min-width: 28em) and (max-width:29em)
{
    body:before
    {
        content: "28em";
        background-color: #0398ed;
    }
}
@media (min-width: 29em) and (max-width:30em)
{
    body:before
    {
        content: "29em";
        background-color: #0282e1;
    }
}
@media (min-width: 30em) and (max-width:31em)
{
    body:before
    {
        content: "30em";
        background-color: blue;
    }
}
@media (min-width: 31em) and (max-width:32em)
{
    body:before
    {
        content: "31em";
        background-color: #5000ff;
    }
}
@media (min-width: 32em) and (max-width:33em)
{
    body:before
    {
        content: "32em";
        background-color: #6400ff;
    }
}
@media (min-width: 33em) and (max-width:34em)
{
    body:before
    {
        content: "33em";
        background-color: #8300ff;
    }
}
@media (min-width: 34em) and (max-width:35em)
{
    body:before
    {
        content: "34em";
        background-color: #7b00ff;
    }
}
@media (min-width: 35em) and (max-width:36em)
{
    body:before
    {
        content: "35em";
        background-color: #a205ff;
    }
}
@media (min-width: 36em) and (max-width:37em)
{
    body:before
    {
        content: "36em";
        background-color: #b800ff;
    }
}
@media (min-width: 37em) and (max-width:38em)
{
    body:before
    {
        content: "37em";
        background-color: #c200ff;
    }
}
@media (min-width: 38em) and (max-width:39em)
{
    body:before
    {
        content: "38em";
        background-color: #d000ff;
    }
}
@media (min-width: 39em) and (max-width:40em)
{
    body:before
    {
        content: "39em";
        background-color: #df00ff;
    }
}
@media (min-width: 40em) and (max-width:45em)
{
    body:before
    {
        content: "40em-45em";
        background-color: #ff00ff;
    }
}
@media (min-width: 45em) and (max-width:50em)
{
    body:before
    {
        content: "45em-50em";
        background-color: #ff0f84;
    }
}


@media (min-width: 50em) and (max-width:60em)
{
    body:before
    {
        content: "50em-60em";
        background-color: orange;
    }
}
@media (min-width: 60em) and (max-width:70em)
{
    body:before
    {
        content: "60em-70em";
        background-color: olive;
    }
}
*/





