
Redirect 301 /about_us.htm http://www.knowledgedoc.com.au/about/index.html
Redirect 301 /contact_us.htm http://www.knowledgedoc.com.au/contact/index.html
Redirect 301 /documentation_services.htm http://www.knowledgedoc.com.au/documentation/index.html
Redirect 301 /faqs.htm http://www.knowledgedoc.com.au/info/faqs.html
Redirect 301 /guarantee.htm http://www.knowledgedoc.com.au/info/guarantee.html
Redirect 301 /knowledge_management.htm http://www.knowledgedoc.com.au/business/knowledge-managment.html
Redirect 301 /methodology.htm http://www.knowledgedoc.com.au/documentation/methodology.html
Redirect 301 /office.htm http:///www.knowledgedoc.com.au/business/serviced-offices.html
Redirect 301 /policies_and_procedures.htm http://www.knowledgedoc.com.au/documentation/policies-and-procedures.html
Redirect 301 /principals.htm http://www.knowledgedoc.com.au/about/our-team.html
Redirect 301 www/software_documentation.htm http://www.knowledgedoc.com.au/documentation/software.html

